@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Slabo 27px", serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* banner slider  */
@keyframes morph {
  0% {
    border-radius: 42% 58% 63% 37% / 40% 37% 63% 60%;
  }
  50% {
    border-radius: 60% 40% 40% 60% / 55% 45% 55% 45%;
  }
  100% {
    border-radius: 42% 58% 63% 37% / 40% 37% 63% 60%;
  }
}

@keyframes kenburns {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.1) translate(0, 0);
  }
}
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.animate-kenburns {
  animation: kenburns 20s ease-in-out infinite alternate;
}

.morph-mask {
  animation: morph 6s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(4px);
  mask-image: radial-gradient(circle, white 60%, transparent 100%);
}

/* filp itemcard ui  */
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem; /* optional */
  overflow: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* Remove scroll/spinner from number inputs */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
  -moz-appearance: textfield;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* bg-white remove on product description  */

.clean-html * {
  background-color: transparent !important;
  color: #333; /* optional */
}
